*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior:smooth
}

body{
    font-family: 'Inter';
}

nav{
    display: flex;
    padding: 2% 4%;
}

.form-title{
    font-weight: 700;
    font-size: 35px;
    margin-left: 9%;
}

hr{
    margin-left: 9%;
    margin-right: 9%;
}

.date-container{
    display: block;
    margin: 0 auto;
    width: 20%;
    text-align: center;
    margin-top: 60px;
    border: 1px solid #A9AAAB;
    border-radius: 15px;
    padding: 25px 30px;
}

.date-container p{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 25px;
}

#date{
    border-radius: 30px;
    padding: 15px;
    border-color: 1 solid #A9AAAB;
}


.overall-rate{
    font-weight: 600;
    font-size: 18px;
}


.scale-rate-container{
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-top: 60px;
    border: 1px solid #A9AAAB;
    border-radius: 15px;
    padding: 25px 30px;
}

.scale-contents{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.scale-col{
    flex-basis: 31%;
}

#awful{
    margin-top: 20px;
}

#excellent{
    margin-top: 20px;
}

#scale{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 30px;
    background: linear-gradient(to right, #F55252, #F8CD7A, #7AF89D);
}

#scale input{
    display: none;  
}

#scale label{
    display: block;
    cursor: pointer;
    width: 50px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background: #fff;
    color: #333333;
    font-size: 15px;
}

#one{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#five{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#two,#three,#four,#one{
    border-right: 1px solid #333333;
}

#scale input[type="radio"]:hover ~ label,
#scale input[type="radio"]:checked ~ label
{
    background: transparent;

}

.difficulty-rate{
    font-weight: 600;
    font-size: 18px;
}


.scale-rate-container2{
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-top: 60px;
    border: 1px solid #A9AAAB;
    border-radius: 15px;
    padding: 25px 30px;
}

.scale-contents2{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.scale-col2{
    flex-basis: 31%;
}

#easy{
    margin-top: 20px;
}

#difficult{
    margin-top: 20px;
}

#scale-2{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 30px;
    background: linear-gradient(to right, #F55252, #F8CD7A, #7AF89D);
}

#scale-2 input{
    display: none;  
}

#scale-2 label{
    display: block;
    cursor: pointer;
    width: 50px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background: #fff;
    color: #333333;
    font-size: 15px;
}

#one-2{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#five-2{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#two-2,#three-2,#four-2,#one-2{
    border-right: 1px solid #333333;
}

#scale-2 input[type="radio"]:hover ~ label,
#scale-2 input[type="radio"]:checked ~ label
{
    background: transparent;

}

.comment-container{
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-top: 60px;
    border: 1px solid #A9AAAB;
    border-radius: 15px;
    padding: 25px 30px;
}

.comment-title{
    font-weight: 600;
    font-size: 18px;
}

.instructions{
    font-weight: 500;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment-container textarea{
    border-radius: 15px;
    padding: 20px;
}

#addComment{
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 700;
    border-radius: 25px;
    padding: 15px 60px;
    font-size: 15px;
    background: #0039A6;
    cursor: pointer;
    width: 20%;
    text-align: center;
    text-decoration: none;
    clear:all;
    border-style: none;
}

.tag-container{
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-top: 60px;
    border: 1px solid #A9AAAB;
    border-radius: 15px;
    padding: 25px 30px;
}

.tag-container :where(li, li i){
    display: flex;
    align-items: center;
}

.tag-title{
    font-weight: 600;
    font-size: 18px;
}

.content{
    font-weight: 500;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content ul{
    display: flex;
    padding: 7px;
    margin: 12px 0;
    border-radius: 15px;
    border: 1px solid #A9AAAB;
}

.content ul li{
    list-style: none;
    margin: 5px 3px; 
    border-radius: 30px;
    background: rgba(142,187,240,0.5);
    padding: 10px 8px 10px 10px;
    color: #7D7D7D;
}

.content ul li i{
    height: 20px;
    width: 20px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 8px;
    border-radius: 50%;
    background: #7D7D7D;
    justify-content: center;
    color: #fff;
}

.content ul input{
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
}


.details button{
    border: none;
    outline: none;
    color:#fff;
    cursor: pointer;
    padding: 9px 15px;
    border-radius: 15px;
    background-color: #4174d3;
    margin-top: 15px;
}

