*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior:smooth
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(72, 73, 77, 0.7),rgba(72, 73, 77, 0.7)),url(RateMyLabassets/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 4%;
}

.text-box{
    width: 90%;
    color: rgb(236, 233, 233);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.text-box h1{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
}

.text-box p{
    margin-top: 5%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
}

.text-box i{
    margin-top: 2%;
    font-size: 30px;
}

.text-box a{
    color: inherit;
}

.button{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 700;
    border-radius: 15px;
    padding: 15px 60px;
    font-size: 15px;
    background: #0039A6;
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;
}

.row{
   margin-top: 5%;
   display: flex;
   justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 50px;
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;
    text-align: center;
}

h3{
    
    font-family: 'Inter';
    font-weight: 700;
    margin: 35px 0;
    font-size: 22px;
}

.course-col p{
    font-family: 'Inter';
    font-weight: 400;
    margin: 35px 0;
    line-height: 25px;
}