*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior:smooth
}

body{
    font-family: 'Inter';
}

nav{
    display: flex;
    padding: 2% 4%;
}

.num-rating{
    display: flex;
    margin-left: 9%;
}

.num-ratingNumerator{
    font-weight: 700;
    font-size: 60px;
    
}

.num-ratingDenominator{
    font-weight: 700;
    font-size: 25px;
    margin-top: 0.5%;
    margin-left: 1%;
}

.lab-course{
    font-weight: 600;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 9%;
}

.tags-header{
   font-weight: 600;
   font-size: 15px; 
   margin-top: 20px;
   margin-left: 9%;
}

.tags-container{
   width: 35%;
   margin-left: 8%;
   margin-top: 10px;
   padding: 10px;
   margin-bottom: 20px;
}

.individual-tags{
    display: inline-block;
    border-radius: 15px;
    padding: 5px 15px;
    margin: 5px;
    text-align: center;
    color: #565656;
    background-color: rgba(142,187,240,0.5);

} 

.button{
    margin-left: 9%;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 700;
    border-radius: 25px;
    padding: 15px 60px;
    font-size: 15px;
    background: #0039A6;
    cursor: pointer;
    width: 20%;
    text-align: center;
    text-decoration: none;
    clear:all;
}

.num-ratings-sort{
    margin-top: 35px;
    margin-left: 9%;
    margin-right: 9%;
    background-color: pink;
}

.num{
    margin-top: 15px;
    float:left; 
}

.sort-container{
    margin-top: 5px;
    float: right;
}

hr{
    margin-top: 90px;
    margin-left: 9%;
    margin-right: 9%;
}

select{
    border-color: #33333350;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 30px;
}

.student-rating-container{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 9%;
    margin-right: 9%;
    height: 250px;
    border: 1px solid #A9AAAB;
    border-radius: 20px;
}

.left-panel{
    width: 20%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-panel{
    width: 80%;
    height: 200px;
}

.student-rating{
    width: 95px;
    height: 95px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 35px;
    background-color: #4d74e8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.difficulty{
    float: left;
    margin-left: 10px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
}

.date{
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    font-weight: 500;
    font-size: 20px;
}

.student-comment{
    font-size: 20px;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 50px;
}



