*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter';
    color: #333333;
}

.img-container{
    width: 100%;
    height:60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.content h1{
    text-align: center;
    font-size: 40px;
    
}

.content p{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 45px;
}

label{
    margin-left: 35%;
}

select{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
    border-color: #333333;
    width: 30%;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 30px;
}

#orSpanp {
    width: 30%; 
    text-align: center; 
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25); 
    line-height: 0.1em;
    margin: 45px 540px 45px; 
    
 } 
 
#orSpan { 
     background:#fff; 
     padding:0 80px; 
     
}

#rate{
    display: block;
    margin: 0 auto;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 700;
    border-radius: 15px;
    padding: 15px 10px;
    font-size: 15px;
    background: #0039A6;
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;
    width: 20%;
    text-align: center;
    text-decoration: none;
    margin-top: 50px;
}

#crnSelect{
    margin-bottom: 35px;
}

.error{

    background: #F2DEDE;
 
    color: #0c0101;
 
    padding: 10px;
 
    width: 95%;
 
    border-radius: 5px;
 
    margin: 20px auto;
 
}